#pageTitle{
    padding: 20px;
    margin-top: 20px;

    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#disclaimer{
    max-width: 500px;
    margin: auto;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    text-align: center;
    
    border-radius: 50px;
    background: lightblue;
    border-style: solid;
    
    padding: 20px;
}

#projectContainer{
    margin: 50px;
}

.projectDisplay{
    float: left;
    
    max-width: 300px;
    margin: 10px;
    border-style: solid;
    border-width: 3px;
}

.projectDesc{
    float: none;
    background: white;
    text-align: center;
}

.projectDesc p{
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
}

.projectDesc button{
    width: 100px;
    height: 30px;

    margin: 5px;
}